* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
    border: 5px solid gray;
    padding: 5px;
    margin: 30px;
}

a {
    font-size: large;
    padding: 10px;
}

li {
    padding: 2px;
}